<template>
    <div id="app">

      <router-link to="/" v-bind:class="[currentTab === 0 ? 'active' : '']" >List</router-link>
      <router-link to="/statistics" v-bind:class="[currentTab === 1 ? 'active' : '']">Statistics</router-link>

      <hr>
      <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data () {
            return {
              firstTab: false,
              secondTab: false,   
            }
        },
        methods:{

        },
        computed: {
            currentTab: function() {
                return this.$store.getters.currentTab;
            }
        }
    }
</script>

<style>

    body {
        background-color: #444444;
        font-family: Verdana, Helvetica, Arial;
        font-size: 16px;
    }
    tr:hover td:first-child button {
        display: inline;
    }
    a {
        color: #0000FF;
        text-decoration: none;
    }  
    a:hover{
        color: #2c3e50;
    } 
    .active{
        color: #4CAF50;
        font-weight: bold;
    } 
    #app {
        width: 75%;
        margin: 0 auto;
        background-color: #FFF;
        padding: 20px 40px;
        border: solid 1px black;
        margin-top: 20px;
        position: relative;
    }
    h4 {
        margin-bottom: 5px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
        background-color: #4CAF50;
        color: white;
    }

</style>