<template>
    <div class="home">

        <div class="activity-list">
            <div id="table-title">Activity List</div>

            <div class="buttons-container">
                <button class="activityButtons" id="addActivityButton" @click="fetchActivities">Add new activity</button>
                <button class="activityButtons" id="deleteAllActivitiesButton" v-show="!errored" @click="deleteAllActivities">Delete all activities</button>
            </div>

            <hr v-show="errored">

            <div v-if="errored">
                <p>Sorry, the information cannot be retrieved at the moment, please try back later</p>
            </div>

            <div v-else>
                <div v-if="loading">Loading...</div>

                <div v-else>

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Participants</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="activity in activities">

                                <td class="tableButton">
                                    <button id="deleteActivityButton" 
                                    @click="deleteActivity(activity)">
                                    X</button>
                                    <span class="tableInfo">{{activity.name}}</span>
                                </td>
                                <td>{{activity.type}}</td>
                                <td>{{activity.participants}}</td>
                                <td>{{activity.price}}</td>

                            </tr>
                        </tbody>
                    </table> 
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'app',
        computed: {
            activities: function(){
                return this.$store.getters.activities
            }
        },
        data: function () {
            return {
            info: null,
            loading: true,
            errored: false
            }
        },
        methods: {
            fetchActivities: function () {
                if (!this.loading){
                    this.loading = true;
                    axios.get('https://www.boredapi.com/api/activity/').then((response) => {
                        this.info = response.data;
                        this.$store.dispatch('addActivity', response.data);
                        //this.activities.push({
                            //name: this.info.activity, type: this.info.type, participants: this.info.participants, price: //this.info.price
                        //});
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false);
                }
            
            },
            deleteAllActivities: function(){
                this.$store.dispatch('deleteAllActivities', this.activities);
            },
            deleteActivity: function(activity){
                this.activities.splice(this.activities.indexOf(activity), 1);
            }
        },
        mounted: function () {
            this.loading = false;
            console.log('length of the activities: ',this.activities.length);
            if (!this.activities.length) this.fetchActivities();
            this.$store.dispatch('setCurrentTab', 0);
        }
    }
</script>

<style>

.buttons-container {
    display: flex;   
}
    
.activityButtons{
    background-color: #2c3e50;
    color: #FFF;
    margin-bottom: 30px;
    width: 300px;
    height: 45px;
    font-size: 18px;
    cursor: pointer;

}
#table-title {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
}
tbody button{
    background-color: #2c3e50;
    color: #FFF;
    margin-left: 5px;
    border-radius: 3px;
    display: none;
    float: left;
    cursor: pointer;
    position: absolute;
}
tr:hover td.infoList button{
    display: inline;
}

.tableButton{
    display: block;
}
.tableInfo{
    margin-left: 43px;
}

</style>