<template>
    <div class="statistics">
        <div>    
            	<table>
                    <thead>
                        <tr>
                            <th>Activity quantity</th>
                            <th>Quantity of unique types</th>
                            <th>Max participants quantity</th>
                            <th>Common price</th>
                        </tr>
                    </thead>

                    	<tbody v-if="activities.length===0">
                        	<tr class="noDataFound">

                            <td>No data found</td>
                            <td>No data found</td>
                            <td>No data found</td>
                            <td>No data found</td>

                        	</tr>
                    	</tbody>

                    <tbody v-else>
                        <tr>

                            <td>{{activities.length}}</td>
                            <td>{{getUniqueTypes()}}</td>
                            <td>{{getMaxParticipQuant()}}</td>
                            <td>{{getCommonPrice()}}</td>

                        </tr>
                    </tbody>

                </table>
            

        </div>
    </div>
</template>

<script>
    export default {
    	name: 'app',
    	computed: {
        	activities: function(){
            	return this.$store.getters.activities
        	}
		},
		data () {
			return {
                activityQuant: 1,
                uniqueTypes: 2,
                maxParticipQuant: 3,
                commonPrice: 4,
			}
		},
		mounted() {
			this.$store.dispatch('setCurrentTab', 1);
		},
		methods: {
			getUniqueTypes: function(){
				let typesArray = [];
				for(let i = 0; i < this.activities.length; i++){
					if(!typesArray.includes(this.activities[i].type)){
						typesArray.push(this.activities[i].type)
					}
				}
				return typesArray.length
			},
			getMaxParticipQuant: function(){
				let participantsArray = [];
				for(let i = 0; i < this.activities.length; i++){
					participantsArray.push(this.activities[i].participants);
				}
				let max = Math.max.apply(null, participantsArray);
				return max;
			},
			getCommonPrice: function(){
				let pricesArray = [];
				for(let i = 0; i < this.activities.length; i++){
					pricesArray.push(this.activities[i].price);
				}
				let sumOfPrices = 0;
				for(let i = 0; i < pricesArray.length; i++){
					sumOfPrices += pricesArray[i];
				}
				return sumOfPrices = sumOfPrices.toFixed(5);
			}
		}
	}
</script>


<style>

	.noDataFound{
	color: red;
	}
    
</style>